// utilities
@import "./utilities/container";
@import "./utilities/colors";
@import "./utilities/variables";

// vendor
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@selectize/selectize/dist/css/selectize.css";

// components
@import "./components/buttons";
@import "./components/cards";
@import "./components/cursor";
@import "./components/filters";
@import "./components/fonts";
@import "./components/icon";
@import "./components/modal";
@import "./components/orders";
@import "./components/preloader";
@import "./components/selectize";

// theme
@import "./utilities/theme";

// layouts
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/nav";

// responsive design
// :root {
//   font-size: calc(100vw / 375 * 14);
//   @media (min-width: 576px) {
//     font-size: calc(100vw / 400 * 14);
//   }
//   @media (min-width: 768px) {
//     font-size: calc(100vw / 768 * 14);
//   }
//   @media (min-width: 992px) {
//     font-size: calc(100vw / 992 * 14);
//   }
//   @media (min-width: 1200px) {
//     font-size: calc(100vw / 1440 * 14);
//   }
//   @media (min-width: 1440px) {
//     font-size: calc(100vw / 1440 * 14);
//   }
//   @media (min-width: 1600px) {
//     font-size: calc(100vw / 1440 * 14);
//   }
//   @media (min-width: 1920px) {
//     font-size: calc(100vw / 1600 * 14);
//   }
// }

html {
  display: none;
}

.content {
  position: relative;
  padding: calc(var(--content-padding-y) * 2) 0;
}
