:root {
  --header-padding-x: 0;
  --header-padding-y: 0.938rem;
  --header-background-color: #ffffff;
  --header-shadow-color: rgba(0, 0, 0, 0.05);
  --header-font-size: 0.875rem;
  --header-line-height: 100%;
  --header-font-weight: 400;
  --header-form-col-gap: 0.625rem;
}

.header {
  position: relative;
  z-index: 1;
  padding: var(--header-padding-y) var(--header-padding-x);
  background-color: var(--header-background-color);
  box-shadow: 0px 10px 20px var(--header-shadow-color);
  // font-weight: var(--header-font-weight);
  // font-size: var(--header-font-size);
  // line-height: var(--header-line-height);
  &-logo {
    position: relative;
    z-index: 1;
    display: flex;
    width: 11.438rem;
    height: 2.484rem;
    & > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    @media (min-width: 992px) {
      flex-direction: row;
    }
    &-left {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 0.438rem;
      column-gap: 0.438rem;
      flex: 0 1 auto;
      line-height: 1;
      @media (min-width: 992px) {
        flex-grow: 1;
        flex-basis: 50%;
      }
    }
    &-right {
      @media (min-width: 992px) {
        flex-grow: 1;
      }
      & > .row {
        --bs-gutter-x: 0.75rem;
        --bs-gutter-y: 0.75rem;
        @media (min-width: 1200px) {
          --bs-gutter-x: 5.188rem;
        }
      }
    }
    &-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      row-gap: 0.938rem;
      column-gap: 0.938rem;
    }
  }
  &-operating {
    &-mode {
      font-size: 0.688rem;
    }
  }
  &-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 0.375rem;
    column-gap: 1.5rem;
    font-size: 0.688rem;
    &-item {
      position: relative;
      &::after {
        content: " | ";
        position: absolute;
        right: calc(0rem - (1.5rem / 2));
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
    &-link {
      color: initial;
      text-decoration: none;
    }
  }
  &-profile {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 0.938rem;
    column-gap: 0.938rem;
    max-width: 75vw;
    @media (min-width: 576px) {
      max-width: 17.063rem;
    }
    &-info {
      display: block;
      flex: 1 2 auto;
      width: 100%;
      font-size: 0.875rem;
      line-height: 140%;
      overflow: hidden;
    }
    &-avatar {
      width: 2.5rem;
      height: 2.5rem;
      flex: 1 0 auto;
      border-radius: 100%;
      border: 0.0625rem solid #dedfe3;
      overflow: hidden;
      & > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name,
    &-company {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1.875rem;
    column-gap: 1.625rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    &-toggler {
      order: 0;
      flex: 1 0 auto;
      width: 100%;
      @media (min-width: 768px) {
        flex: 0 0 calc(25% - var(--header-form-col-gap));
      }
      @media (min-width: 1200px) {
        flex: 0 0 calc(20% - var(--header-form-col-gap));
      }
    }
    &-info {
      order: 2;
      width: 100%;
      flex: 1;
      @media (min-width: 768px) {
        order: 1;
      }
      & > .row {
        --bs-gutter-x: 0.938rem;
        --bs-gutter-y: 0.938rem;
      }
      & .icon {
        width: 1.237rem;
        height: 1.237rem;
      }
    }
    &-body {
      order: 1;
      flex: 1 0 auto;
      width: 100%;
      @media (min-width: 768px) {
        order: 2;
      }
      & > * {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 1.875rem;
        column-gap: 1.875rem;
      }
    }
    &-form {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 0.625rem;
      column-gap: 0.625rem;
      & .form-col {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        width: 100%;
        @media screen and (max-width: 767.98px) {
          &:is(.form-col-messages) {
            order: 10;
          }
        }
        @media (min-width: 768px) {
          flex: calc(25% - var(--header-form-col-gap));
        }
        @media (min-width: 1200px) {
          flex: calc(20% - var(--header-form-col-gap));
        }
        &:last-of-type {
          @media (min-width: 768px) {
            flex-grow: 100;
          }
        }
      }
    }
    &-action {
      & > .row {
        --bs-gutter-x: 1.563rem;
        --bs-gutter-y: 0.625rem;
        align-items: center;
      }
    }
  }
}
