:root {
  --header-nav-link-gap-x: 1rem;
  --header-nav-link-gap-y: 0.5rem;
  --header-nav-link-font-weight: 400;
  --header-nav-link-font-size: 1rem;
  --header-nav-link-color: var(--bs-dark);
  --header-nav-link-hover-color: var(--bs-link-color);
  --header-nav-link-disabled-color: var(--bs-secondary-color);
  --header-services-gap-x: 1rem;
  --header-services-gap-y: 0.5rem;
  --header-services-item-gap-x: 0.313rem;
  --header-services-item-gap-y: 0.313rem;
  --header-services-padding-y: 1rem;
  --header-services-item-font-weight: 400;
  --header-services-item-font-size: 0.875rem;
  --header-services-icon-color: var(--bs-link-color);
  --header-services-item-color: var(--bs-grey);
  --header-services-item-hover-color: var(--bs-link-color);
  --header-services-item-disabled-color: var(--bs-grey);
  --footer-nav-link-gap-x: 1rem;
  --footer-nav-link-gap-y: 0.75rem;
  --footer-nav-link-font-weight: 400;
  --footer-nav-link-font-size: 0.875rem;
  --footer-nav-link-color: var(--bs-dark);
  --footer-nav-link-hover-color: var(--bs-link-color);
  --footer-nav-link-disabled-color: var(--bs-secondary-color);
  @media (min-width: 992px) {
    --header-services-gap-x: 1.625rem;
  }
  @media (min-width: 1200px) {
    --header-nav-link-gap-x: 3.125rem;
  }
}

.header {
  &-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--header-nav-link-gap-y);
    column-gap: var(--header-nav-link-gap-x);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &-link {
      display: block;
      // padding: var(--header-nav-link-padding-y) var(--header-nav-link-padding-x);
      font-size: var(--header-nav-link-font-size);
      font-weight: var(--header-nav-link-font-weight);
      color: var(--header-nav-link-color);
      text-decoration: none;
      background: none;
      border: 0;
      transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
      &:active,
      &.active {
        color: var(--header-nav-link-hover-color);
      }
      &:hover,
      &:focus {
        color: var(--header-nav-link-hover-color);
      }
      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
      &.disabled,
      &:disabled {
        color: var(--header-nav-link-disabled-color);
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.nav {
  &-services {
    display: flex;
    flex-wrap: nowrap;
    row-gap: var(--header-services-gap-y);
    column-gap: var(--header-services-gap-x);
    padding: calc(var(--header-services-padding-y) / 5) 0 var(--header-services-padding-y);
    margin-bottom: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-grey) var(--bs-body-bg);
    &::-webkit-scrollbar {
      width: 0.875rem;
    }
    &::-webkit-scrollbar-track {
      background: var(--bs-body-bg);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--bs-grey);
      border-radius: 50rem;
      border: 0.25rem solid var(--bs-body-bg);
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 auto;
      row-gap: var(--header-services-item-gap-y);
      column-gap: var(--header-services-item-gap-x);
      font-size: var(--header-services-item-font-size);
      font-weight: var(--header-services-item-font-weight);
      color: var(--header-services-item-color);
      text-decoration: none;
      background: none;
      border: 0;
      transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
      &:hover,
      &:focus {
        color: var(--header-services-item-hover-color);
      }
      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
      &.disabled,
      &:disabled {
        opacity: 0.4;
        color: var(--header-services-item-disabled-color);
        pointer-events: none;
        cursor: default;
        & .nav-services-icon {
          color: var(--header-services-item-disabled-color);
        }
      }
    }
    &-icon {
      position: relative;
      z-index: 1;
      display: flex;
      width: 1.625rem;
      height: 0.875rem;
      color: var(--header-services-icon-color);
      & > * {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.footer {
  &-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--footer-nav-link-gap-y);
    column-gap: var(--footer-nav-link-gap-x);
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &-link {
      display: block;
      font-size: var(--footer-nav-link-font-size);
      font-weight: var(--footer-nav-link-font-weight);
      color: var(--footer-nav-link-color);
      text-decoration: none;
      background: none;
      border: 0;
      transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
      &:hover,
      &:focus {
        color: var(--footer-nav-link-hover-color);
      }
      &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
      &.disabled,
      &:disabled {
        color: var(--footer-nav-link-disabled-color);
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
