:root {
  .dropdown-menu {
    --bs-dropdown-font-size: var(--bs-body-font-size);
    --bs-dropdown-bg: var(--bs-white);
  }

  .dropdown-item {
    font-weight: var(--bs-dropdown-item-font-weight);
  }
}
