:root {
  --order-table-gap: 1.563rem;
  --order-table-header-padding-x: 1.875rem;
  --order-table-header-padding-y: 0rem;
  // --order-table-header-padding-y: 1.563rem;  (временно удалено)
  --order-table-header-gap: 0.625rem;
  --order-table-header-font-size: 0.75rem;
  --order-table-header-color: var(--bs-grey);
  --order-table-body-gap: 0.625rem;
  --bs-card-box-shadow: none;
  --order-item-gap: 0.625rem;
  --order-item-col-gap: 0.625rem;
  --order-item-icon-size: 1.875rem;
  --order-table-min-font-size: 0.75rem;
  --order-status-gap: 0.656rem;
  --order-status-icon-size: 1.844rem;
  --order-status-font-size: 0.625rem;
  --order-status-line-height: 120%;
}

.order {
  // size of columns table
  &-col {
    &-type {
      @media (min-width: 1200px) {
        // width: 1.875rem;
        width: 2.75rem;
      }
    }
    &-date {
      @media (min-width: 1200px) {
        // width: 3.5rem;
        width: 4.15rem;
      }
    }
    &-info {
      flex: 1 0 auto;
      @media (min-width: 1200px) {
        width: 27.875rem;
      }
      @media (min-width: 1400px) {
        width: 31.875rem;
      }
    }
    &-passenger {
      @media (min-width: 1200px) {
        width: 10.313rem;
      }
    }
    &-status {
      text-align: center;
      @media (min-width: 1200px) {
        width: 6.188rem;
      }
      & > .card {
        height: 100%;
      }
    }
  }
  // table config
  &-table {
    display: flex;
    flex-direction: column;
    row-gap: var(--order-table-gap);
    column-gap: var(--order-table-gap);
    // table header config
    &-header {
      display: none;
      @media (min-width: 1200px) {
        display: flex;
        row-gap: var(--order-item-gap);
        column-gap: var(--order-item-gap);
      }
      & [class^="order-col"] {
        font-size: var(--order-table-header-font-size);
        color: var(--order-table-header-color);
      }
      & .order-col-status {
        width: auto;
      }
    }
    &-left {
      flex: 1 0 auto;
      padding: var(--order-table-header-padding-y)
        var(--order-table-header-padding-x);
      & > .row {
        --bs-gutter-x: var(--order-table-header-gap);
        --bs-gutter-y: var(--order-table-header-gap);
      }
    }
    &-right {
      padding: var(--order-table-header-padding-y)
        var(--order-table-header-padding-x);
      & > .row {
        --bs-gutter-x: var(--order-table-header-gap);
        --bs-gutter-y: var(--order-table-header-gap);
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      row-gap: var(--order-table-body-gap);
      column-gap: var(--order-table-body-gap);
      @media (min-width: 992px) and (max-width: 1199.98px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    // item config
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: var(--order-item-gap);
      column-gap: var(--order-item-gap);
      @media (min-width: 992px) and (max-width: 1199.98px) {
        flex: 0 0 calc(50% - (var(--order-item-gap) / 2));
      }
      @media (min-width: 1200px) {
        flex-direction: row;
      }
      & [class^="order-col"] {
        @media (min-width: 1200px) {
          padding: 0 var(--order-item-col-gap);
        }
        & p {
          margin: unset;
        }
      }
      & .order-col {
        &-type {
          width: var(--order-item-icon-size);
          min-height: 2.625rem;
          padding: 0;
          & > .icon {
            color: var(--bs-primary);
            width: var(--order-item-icon-size);
            height: var(--order-item-icon-size);
          }
        }
        &-date {
          width: max-content;
          min-width: 3.5rem;
          min-height: 2.625rem;
        }
        &-info,
        &-passenger,
        &-agent {
          display: flex;
          flex-direction: column;
          row-gap: var(--order-item-col-gap);
          column-gap: 0.938rem;
          @media (min-width: 1200px) {
            row-gap: 0.938rem;
          }
        }
      }
    }
    &-info {
      flex: 1 0 auto;
    }
  }
  // card config
  &-card {
    --bs-card-border-color: transparent;
    height: 100%;
    transition: all 0.3s ease;
    @media (min-width: 1200px) {
      --bs-card-spacer-y: 1.875rem;
      --bs-card-spacer-x: 1.875rem;
    }
    &:hover {
      --bs-card-box-shadow: 0 2.5rem 2.188rem -1.875rem #c8c8c8;
      box-shadow: var(--bs-card-box-shadow);
      @media (min-width: 1200px) {
        transform: translate(0, -0.0625rem);
      }
    }
    &-table {
      & > .row {
        --bs-gutter-x: var(--order-item-col-gap);
        --bs-gutter-y: calc(var(--order-item-col-gap) * 2);
        & > [class^="col"] {
          position: relative;
          @media screen and (max-width: 1199.98px) {
            &::before {
              content: "";
              position: absolute;
              top: calc(0% - var(--order-item-col-gap));
              right: 0;
              width: 100%;
              height: 0.0625rem;
              border-top: 0.0625rem dashed rgba(var(--bs-grey-rgb), 0.5);
            }
            &:first-of-type,
            &:nth-child(2),
            &:last-of-type {
              &::before {
                display: none;
              }
            }
          }
          @media (min-width: 1200px) {
            &::before {
              content: "";
              position: absolute;
              right: calc(0% - (var(--order-item-col-gap) / 2));
              width: 0.0625rem;
              height: 100%;
              border-right: 0.0625rem dashed rgba(var(--bs-grey-rgb), 0.5);
            }
            &:last-of-type {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
    &-status {
      min-height: 100%;
      @media (min-width: 1200px) {
        width: 6.188rem;
        --bs-card-spacer-x: unset;
        --bs-card-spacer-y: unset;
        --bs-card-border-color: #bcceda;
      }
      & .card-body {
        display: flex;
        flex-direction: column;
      }
      & .order-col-status {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
  // mobile config
  &-mobile {
    &-title {
      @media (min-width: 1200px) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  // text config
  &-time {
    color: var(--bs-grey);
  }
  &-customer {
    color: var(--bs-grey);
    font-size: var(--order-table-min-font-size);
  }
  &-payer {
    color: var(--bs-grey);
    font-size: var(--order-table-min-font-size);
  }
  &-archive {
    font-size: var(--order-table-min-font-size);
  }
  // statuses config
  &-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--order-status-gap);
    column-gap: var(--order-status-gap);
    width: 100%;
    height: 100%;
    flex: 1;
    color: var(--bs-primary);
    &-icon {
      position: relative;
      z-index: 1;
      display: flex;
      width: var(--order-status-icon-size);
      height: var(--order-status-icon-size);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
    }
    &-value {
      font-size: var(--order-status-font-size);
      line-height: var(--order-statusline-height);
      text-transform: uppercase;
    }
  }
  // status types
  &-success {
    & .order-status-icon {
      background-image: url("/assets/images/order/status/success.svg");
    }
  }
  &-ordered {
    & .order-status-icon {
      background-image: url("/assets/images/order/status/ordered.svg");
    }
  }
  &-process {
    & .order-status-icon {
      background-image: url("/assets/images/order/status/process.svg");
    }
  }
  &-disabled {
    pointer-events: none;
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    & * {
      pointer-events: none;
      user-select: none;
      color: var(--bs-grey) !important;
    }
    & .order-status-icon {
      background-image: url("/assets/images/order/status/disabled.svg");
    }
  }
}
