:root {
  --preloader-zindex: 3000;
  --preloader-gap: 2.206rem;
  --preloader-right-gap: 3.269rem;
  --preloader-padding-x: 0;
  --preloader-padding-y: 2.188rem;
  --preloader-background-color: var(--bs-primary);
  --preloader-text-color: var(--bs-white);
  --preloader-circle-outer-size: 15.271rem;
  --preloader-circle-inner-size: 10.3rem;
  --preloader-circle-core-size: 3.743rem;
  --preloader-point-size: 0.326rem;
  --preloader-logo-width: 8.634rem;
  --preloader-logo-height: 1.875rem;
  --preloader-title-font-size: 1.25rem;
  --preloader-text-font-size: 0.75rem;
  --preloader-title-line-height: 100%;
  --preloader-text-line-height: 110%;
  --preloader-fact-gap: 0.313rem;
  @media (min-width: 768px) {
    --preloader-padding-y: 2.938rem;
    --preloader-circle-outer-size: 34.71rem;
    --preloader-circle-inner-size: 20.156rem;
    --preloader-circle-core-size: 7.5959rem;
    --preloader-point-size: 0.75rem;
  }
  @media (min-width: 1200px) {
    --preloader-gap: 1.781rem;
    --preloader-circle-outer-size: 44.71rem;
    --preloader-circle-inner-size: 30.156rem;
    --preloader-circle-core-size: 10.959rem;
    --preloader-logo-width: 12.688rem;
    --preloader-logo-height: 2.755rem;
    --preloader-title-font-size: 2.813rem;
    --preloader-text-font-size: 1.813rem;
    --preloader-fact-gap: 0.625rem;
  }
}

body {
  &:is(.preloader-is-active) {
    & .header,
    & .content,
    & .footer {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    }
    & .preloader {
      opacity: 1;
      visibility: visible;
    }
  }
  &:not(.preloader-is-active) {
    & .header,
    & .content,
    & .footer {
      opacity: 1;
      visibility: visible;
      transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    }
    & .preloader {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--preloader-zindex);
  width: 100%;
  height: 100%;
  max-height: 100svh;
  display: none;
  padding: var(--preloader-padding-y) var(--preloader-padding-x);
  background-color: var(--preloader-background-color);
  color: var(--preloader-text-color);
  pointer-events: all;
  user-select: none;
  overflow: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--bs-white);
    opacity: 0.5;
  }
  &-show {
    animation-name: preloaderShow;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-direction: normal;
  }
  &-is {
    &-active {
      position: static;
      top: 0;
      left: 0;
      touch-action: none;
      overflow: hidden;
    }
  }
  & > .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  &-inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
    row-gap: var(--preloader-gap);
    column-gap: var(--preloader-gap);
    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: stretch;
    }
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    @media screen and (max-width: 1199.98px) {
      max-width: calc(15.563rem + var(--preloader-gap));
    }
    @media (min-width: 1200px) {
      align-items: flex-start;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    row-gap: var(--preloader-right-gap);
    column-gap: var(--preloader-right-gap);
    & > .preloader-logo {
      display: flex;
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
  &-fact {
    display: flex;
    flex-direction: column;
    row-gap: var(--preloader-fact-gap);
    column-gap: var(--preloader-fact-gap);
  }
  &-link {
    display: none;
    flex: 1;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &-title {
    font-size: var(--preloader-title-font-size);
    line-height: var(--preloader-title-line-height);
  }
  &-text {
    font-size: var(--preloader-text-font-size);
    line-height: var(--preloader-text-line-height);
  }
  &-logo {
    position: relative;
    z-index: 1;
    display: flex;
    width: var(--preloader-logo-width);
    height: var(--preloader-logo-height);
    color: var(--bs-white);
  }
  &-animation {
    position: relative;
    z-index: 1;
    &-logo {
      position: absolute;
      top: var(--preloader-logo-height);
      left: 50%;
      display: none;
      transform: translate(-50%, 0);
      @media (min-width: 1200px) {
        display: flex;
      }
    }
    &-container {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--preloader-circle-outer-size);
      height: var(--preloader-circle-outer-size);
      & > .preloader-circle {
        &:nth-child(1) {
          width: var(--preloader-circle-outer-size);
          height: var(--preloader-circle-outer-size);
        }
        &:nth-child(2) {
          width: var(--preloader-circle-inner-size);
          height: var(--preloader-circle-inner-size);
        }
        &:nth-child(3) {
          width: var(--preloader-circle-core-size);
          height: var(--preloader-circle-core-size);
        }
      }
    }
  }
  &-circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 0.0625rem solid var(--preloader-text-color);
  }
  &-point {
    position: relative;
    display: flex;
    width: var(--preloader-point-size);
    height: var(--preloader-point-size);
    top: calc(-1 * (var(--preloader-circle-inner-size) / 2));
    border-radius: 100%;
    background-color: var(--preloader-text-color);
    animation-name: preloaderPointRotation;
    animation-timing-function: linear;
    animation-duration: 13s;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform-origin: 50% calc((var(--preloader-circle-inner-size) / 2) + (var(--preloader-point-size) / 2));
    transform: rotate(0deg);
  }
}
