@import "@selectize/selectize/dist/css/selectize.legacy.css";

:root {
  --selectize-item-font-size: 0.875rem;
  --selectize-item-line-height: 100%;
  --selectize-item-padding: 0.25rem;
}

.selectize-control {
  &.multi {
    & .selectize-input {
      &.has-items {
        padding: $input-padding-y $input-padding-x;
      }
    }
  }
}

.selectize-input {
  display: block;
  width: 100%;
  max-height: 2.225rem;
  // padding: $input-padding-y $input-padding-x;
  padding: 0.5rem 0.875rem;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  appearance: none;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;

  box-shadow: none;
  @include transition($input-transition);

  &[type="file"] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
  & > input {
    width: 100% !important;
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    appearance: none;
    &::placeholder {
      color: var(--bs-grey);
      opacity: 1;
    }
  }

  &:focus,
  &.focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    box-shadow: none;
  }

  &.has-items {
    padding: $input-padding-y $input-padding-x;
  }

  &.dropdown-active {
    border-radius: $input-border-radius !important;
    &::before {
      display: none;
    }
  }

  & > div {
    border-radius: $input-border-radius !important;
    padding: var(--selectize-item-padding);
    font-size: $input-font-size;
    font-weight: 400;
    line-height: var(--selectize-item-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }

  &::-webkit-date-and-time-value {
    min-width: 85px;
    height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
    margin: 0;
  }

  &::-webkit-datetime-edit {
    display: block;
    padding: 0;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:disabled {
    color: $input-disabled-color;
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    opacity: 1;
  }

  &::file-selector-button {
    padding: $input-padding-y $input-padding-x;
    margin: (-$input-padding-y) (-$input-padding-x);
    margin-inline-end: $input-padding-x;
    color: $form-file-button-color;
    @include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    @include transition($btn-transition);
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: $form-file-button-hover-bg;
  }
}

.selectize-dropdown {
  position: absolute;
  z-index: var(--#{$prefix}dropdown-zindex);
  display: none; // none by default, but block on "open" of the menu
  min-width: var(--#{$prefix}dropdown-min-width);
  padding: var(--#{$prefix}dropdown-padding-y) var(--#{$prefix}dropdown-padding-x);
  margin: 0; // Override default margin of ul
  @include font-size(var(--#{$prefix}dropdown-font-size));
  color: var(--#{$prefix}dropdown-color);
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: var(--#{$prefix}dropdown-bg);
  background-clip: padding-box;
  border: var(--#{$prefix}dropdown-border-width) solid var(--#{$prefix}dropdown-border-color);
  @include border-radius(var(--#{$prefix}dropdown-border-radius));
  @include box-shadow(var(--#{$prefix}dropdown-box-shadow));
  &-content {
    & .option {
      display: block;
      width: 100%; // For `<button>`s
      padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
      clear: both;
      font-weight: $font-weight-normal;
      font-size: $input-font-size;
      color: var(--#{$prefix}dropdown-link-color);
      text-align: inherit; // For `<button>`s
      text-decoration: if($link-decoration == none, null, none);
      white-space: nowrap; // prevent links from randomly breaking onto new lines
      background-color: transparent; // For `<button>`s
      border: 0; // For `<button>`s
      cursor: pointer;
      @include border-radius(var(--#{$prefix}dropdown-item-border-radius, 0));

      &:hover,
      &:focus,
      &.active {
        color: var(--#{$prefix}dropdown-link-hover-color);
        text-decoration: if($link-hover-decoration == underline, none, null);
        @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
      }

      &:active,
      &.selected {
        color: var(--#{$prefix}dropdown-link-active-color);
        text-decoration: none;
        @include gradient-bg(var(--#{$prefix}dropdown-link-active-bg));
      }

      &.disabled,
      &:disabled {
        color: var(--#{$prefix}dropdown-link-disabled-color);
        pointer-events: none;
        background-color: transparent;
        // Remove CSS gradients if they're enabled
        background-image: if($enable-gradients, none, null);
      }
    }
  }
}
