:root {
  --bs-font-sans-serif: "SF UI Display", "Helvetica Neue", "Segoe UI", "Roboto", Arial, sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-line-height: 1.5;
  --bs-body-bg: #edeff5;
  --bs-body-color: #222a37;
  --bs-body-color-rgb: 34, 42, 55;
  --bs-body-font-weight: 400;

  --bs-blue: #009fd6;
  --bs-primary: #009fd6;
  --bs-primary-rgb: 0, 159, 214;
  --bs-dark: #222a37;
  --bs-dark-rgb: 34, 42, 55;
  --bs-grey: #7a869a;
  --bs-grey-rgb: 122, 134, 154;

  --bs-dropdown-item-font-weight: 400;

  --bs-form-font-size: 0.75rem;

  --content-padding-y: 1.875rem;

  // buttons default config
  .btn {
    --bs-btn-font-size: 0.875rem;
    &-primary {
      --bs-btn-color: var(--bs-white);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-active-color: var(--bs-white);
    }
    &-grey {
      --bs-btn-color: var(--bs-grey);
      --bs-btn-bg: var(--bs-body-bg);
      --bs-btn-border-color: var(--bs-body-bg);
      --bs-btn-hover-color: var(--bs-body-bg);
      --bs-btn-hover-bg: #{shade-color($grey, 10%)};
      --bs-btn-hover-border-color: #{shade-color($grey, 10%)};
      --bs-btn-focus-shadow-rgb: var(--bs-grey-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #{shade-color($grey, 20%)};
      --bs-btn-active-border-color: #{shade-color($grey, 20%)};
    }
    &-outline {
      &-primary {
        --bs-btn-bg-color: var(--bs-body-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-active-color: var(--bs-white);
      }
    }
    &-wider {
      --bs-btn-padding-y: 0.938rem;
      --bs-btn-padding-x: 3.125rem;
    }
  }

  // card default config
  .card {
    --bs-border-radius: 0.313rem;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-white);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
  }

  // dropdown default config
  .dropdown-item {
    font-weight: var(--bs-dropdown-item-font-weight);
  }

  // form-control
  .form-control {
    font-size: $input-font-size;
    padding: ($input-padding-y + 0.125rem) ($input-padding-x + 0.125rem);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
