:root {
  --bs-font-sans-serif: "SF UI Display", "Helvetica Neue", "Segoe UI", "Roboto", Arial, sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-line-height: 1.5;
  --bs-body-bg: #edeff5;
  --bs-body-color: #222a37;
  --bs-body-color-rgb: 34, 42, 55;
  --bs-body-font-weight: 400;

  --bs-blue: #009fd6;
  --bs-primary: #009fd6;
  --bs-primary-rgb: 0, 159, 214;
  --bs-dark: #222a37;
  --bs-dark-rgb: 34, 42, 55;
  --bs-grey: #7a869a;
  --bs-grey-rgb: 122, 134, 154;

  --bs-dropdown-item-font-weight: 400;

  --bs-form-font-size: 0.75rem;

  --content-padding-y: 1.875rem;

  // dropdown default config
  .dropdown-item {
    font-weight: var(--bs-dropdown-item-font-weight);
  }

  // form-control
  .form-control {
    font-size: $input-font-size;
    padding: ($input-padding-y + 0.125rem) ($input-padding-x + 0.125rem);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
